@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

*{
    font-family: Roboto, sans-serif;
}

body{
    display:flex;
    flex-direction:column;
    margin:0;
    
}
.hero,.header{
    background-color: #1f2937;
    display:flex;
    color:#f0faf8;
}

.hero{
    padding:10%;
    gap:5%;
}
.header{
    justify-content:space-between;
    padding:10px  15%;
    
    align-items: center;
}

.header-links{
    padding:0;
    margin:0;
    display:flex;
    list-style: none;
    gap:10px;
}

.logo{
    font-size:24px;
}

.hero p{
    font-size:24px;
    color:#e5e7eb;
}

.hero-title{
    font-size:48px;
    font-weight: bold;
}

.hero-image{
    background-color: gray;
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:50%;
}

.hero button{
    background-color: #3882f6;
    color:#f0faf8;
    border:none;
    padding:5px 20px;
    border-radius: 5px;
}

.gallery{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:50px 60px;
}

.gallery-title{
    font-size:36px;
    font-weight:bold;
    color:#1f2937;
}

.gallery-index{
    display:flex;
    gap:20px;
    padding:40px 15%;
    flex-wrap:wrap;
}

.gallery-image{
    
    border:2px solid #3882f6;
    height:150px;
    width:100%;
    flex-grow:2;
    border-radius: 15px;
}
.gallery-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:200px;
    flex-grow:1;
    gap:5px;
}

.gallery-item-text{
    text-align:center;
    color:#1f2937;
}